<script>
  var lightbox = new Lightbox();

  var lightBoxOptions = {
    // options
    boxId: false,
    dimensions: true,
    captions: false,
    prevImg: false,
    nextImg: false,
    hideCloseBtn: false,
    closeOnClick: true,
    loadingAnimation: 200,
    animElCount: 1,
    preload: true,
    carousel: false,
    animation: 400,
    nextOnClick: false,
    responsive: true,
    maxImgSize: 1,
    keyControl: true,
    
    // callbacks
    onopen: function () {
      // ...
    },
    onclose: function () {
      // ...
    },
    onload: function (event) {
      // ...
    },
    onresize: function () {
      // ...
    },
    onloaderror: function (event) {
      // ...
    }
  }

  lightbox.load(lightBoxOptions);
</script>